@import "normalize.scss";
@import "font.scss";
@import "bloks/body.scss";
@import 'bloks/header.scss';
@import "bloks/nav.scss";
@import "bloks/food.scss";
@import "bloks/categories.scss";
@import "bloks/advatages.scss";
@import "bloks/example.scss";
@import "bloks/contacts.scss";
@import "bloks/footer.scss";