body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  color: #000;
   font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

p, h1, h3 {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

.visually-hidden,
.visually-hidden-index {
  // position: absolute;
  // overflow: hidden;
  // clip: rect(0 0 0 0);
  // width: 1px;
  // height: 1px;
  // margin: -1px;
  // padding: 0;
  // border: 0;
  display: none;
}

