.contacts {
	margin-top: 30px;
}

.contacts__title {
	width: 140px;
	font-size: 16px;
 line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.contacts__adress {
	width: 140px;
	font-family: "Arial";
	font-size: 14px;
	line-height: 20px;
	 font-weight: 400px;
	 color: #444444;
}

.contacts__wrapper {
	min-width: 280px;
	padding: 0 20px;
	display: flex;

	justify-content: center;
}

.contacts__mar {
	min-width: 320px;
	height: 400px;
	margin: 0 auto;
	margin-top: 27px;
	background-image: url("../../image/map.jpg");
}