.example__container {
	min-width: 280px;
	padding: 0 20px;
	margin: 0 auto;
	
	padding-top: 20px;

}

.example__img-table,
.example__wrapper-scale-index {
	display: none;
}

.example {
	min-width: 320px;
	
	margin: 0 auto;
	background-color: #f2f2f2;
}

.example__title {
	font-size: 36px;
	line-height: 60px;
	font-weight: 400;

	margin-bottom: 20px;
}

.example__texte {
	font-family: "Arial";
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;
	margin-bottom: 25px;
}

.example__weight-title,
.example__time-title {
	width: 56px;
	margin: 0 auto;
	text-align: center;
	font-family: "Arial";
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	color: #444444;
		background-color: #f2f2f2;
	
}

.example__weight-title {
	margin-top: -9px;

	padding: 0 11px 0 11px;
}

.example__time-title {
	margin-top: -9px;
	padding: 0 11px 0 11px;
}

.example__span {
	text-transform: uppercase;
}

.example__weight-cont,
.example__time-cont {
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	border: 1px solid #cdcdcd;
}

.example__cost {
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.example__cost--table {
	display: none;
}

.example__weight,
.example__time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.example__weight-cont {
	padding: 13px 41px 17px 42px;
}

.example__time-cont {
	padding: 13px 21px 17px 22px;
}

.example__wrapper {
	display: flex;
	justify-content: space-between;
}

.example__img-wrapper {
	margin-top: 40px;
	text-align: center;
}

.example__img {
	margin-left: -12px;
}

.example__wrapper-scale {
	margin-top: 31px;
	
	display: flex;
	padding-bottom: 34px;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
}

.example__title-scale {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.example__scale {
	width: 80px;
	height: 12px;
	border: 1px solid #cdcdcd;
	border-radius: 10px;
}

.example__title-scale--before {
	position: relative;
	margin-left: 2px;
	margin-right: 20px;
}

.example__title-scale--before::after {
	content: "";
	position: absolute;
	width: 35px;
	height: 6px;
	background-image: url("/image/before-after scale.png");
	top: 7px;
	left: 65px;
}

.example__title-scale--after::before {
	content: "";
	position: absolute;
	width: 35px;
	height: 6px;
	background-image: url("/image/before-after scale.png");
	top: 7px;
	left: -40px;

}

.example__title-scale--after {
	position: relative;
	padding-left: 18px;
}

.example__img-wrapper--after {
	text-align: center;
	display: none;
}

#befor:checked ~ .example__img-wrapper-container > .example__img-wrapper--before,
#after:checked ~ .example__img-wrapper-container > .example__img-wrapper--after {
	display: block;
}

#after:checked ~ .example__img-wrapper-container > .example__img-wrapper--before,
#befor:checked ~ .example__wrapper-scale > .example__title-scale--after::before,
#after:checked ~ .example__wrapper-scale > .example__title-scale--before::after {
	display: none;
}

@media (min-width: 768px) {
	.example__container {
		min-width: 708px;
		padding: 0 30px;
	}
	.example {
		background-color: #ffff;
	}
	.example__title {
		font-size: 60px;
		line-height: 60px;
		margin-top: 124px;
		margin-bottom: 60px;
	}

	.example__texte {
		font-size: 16px;
		line-height: 24px;
		padding-right: 10px;
	}

	.example__weight-cont,
	.example__time-cont {
		font-size: 30px;
		line-height: 37px;
	}

	.example__weight-title,
	.example__time-title {
		width: 97px;
		font-size: 14px;
		line-height: 14px;
		background-color: #ffff;
	}

	.example__time-title {
		width: 127px;
	}

	.example__wrapper {
		padding-top: 28px;
		justify-content: flex-start;
		
	}

	.example__cost,
	.example__wrapper-scale,
	.example__title-scale--before::after,
	.example__title-scale--after::before {
		display: none;
	}

	.example__cost--table {
	display: flex;
	flex-direction: column;
	font-size: 20px;
		line-height: 20px;
		margin-top: 12px;

		margin-left: auto;
text-align: right;
}

.example__span-cost {
	margin-top: 10px;
}

.example__weight-cont {
	padding: 16px 57px 17px 55px;
	margin-right: 42px;
}

.example__time-cont {
	padding: 16px 31px 17px 28px;
}

.example__weight-title {
	margin-left: 22px;
	padding: 0 11px 0 11px;
}

.example__img {
	display: none;
}

.example__wrapper-scale-index {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0px;
	padding: 0 99px 0 94px;
	margin-top: -61px;
	background-color: #f2f2f2;
	justify-content: space-around;
	}

.example__none {
	height: 464px;
	background-color: #f2f2f2;
	margin-top: -390px;
}

.example__img-table {
	display: block;
	margin-left: 31px;
}

.example__img-wrapper {
	margin-top: 60px;
}

.example__title-scale {
	font-size: 20px;
}

.example__scale {
	width: 430px;
	height: 6px;
	border: none;
	background-color: #dcdcdc;
}

.example__img-wrapper--after {
	text-align: center;
	display: block;
}

.example__img-wrapper--after .example__img-table {
	margin-left: 0;
	margin-top: 8px;
	
}

#after-index:checked ~ .example__img-wrapper-container > .example__img-wrapper--after .example__img-table,
#after:checked ~ .example__img-wrapper-container > .example__img-wrapper--after .example__img-table {
	margin-left: 380px;
}

.example__img-wrapper-container {
	display: flex;
}

.example__wrapper-scale-index::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
		background-color: #ffff;
		border: 1px solid #dcdcdc;
	border-radius: 50%;
	left: 367px;
	z-index: 9;
}

.example__wrapper-scale-index::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: rgb(104, 183, 56);
	border-radius: 50%;
	top: 6px;
	left: 379px;
	z-index: 99;
}

#befor-index:checked ~ .example__img-wrapper-container > .example__img-wrapper--after {
	display: none;
}

#after-index:checked ~ .example__img-wrapper-container > .example__img-wrapper--before {
	display: none;
}


}

