.header {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 14px;
  margin-bottom: 24px;
}

.header__wrapper-top {
  display: flex;

  min-width: 280px;
  padding: 0 20px;

  align-items: center;
  justify-content: space-between;
}


.header__wrapper-logo {
	display: none;
}

.header__title {
  margin-left: -10px;
}

.header__button {
  font-size: 0;

  width: 23px;
  height: 19px;
  margin-bottom: 6px;

  border: none;
  background-color: #fff;
  background-image: url('../../image/close.svg');
  background-repeat: no-repeat;
}

.header-logo__img {
  margin-top: -3px;
}

@media (min-width: 768px) {

	.header {
  min-width: 710px;
  margin: 0 auto;
  padding: 0 31px;

}
	
	.header__wrapper-logo {
		display: block;
		margin-right: 20px;
		
	}

	.header__wrapper-top {

		display: none;
	}

	.header__wrapper-toptable {
		 display: flex;
		 
		 justify-content: space-between;
		 align-items: center;
		
margin-top: 23px;
	
	}


}
