.nav {
	 display: flex;
margin-top: 12px;

  justify-content: center;
}

.nav__list {
  width: 100%;
}

.nav__link {
  font-size: 20px;
  font-weight: 500;

  margin-left: -2px;

  text-decoration: none;
  text-transform: uppercase;

  color: #000;
}

.nav__item {
 
  padding-top: 22px;
  padding-bottom: 20px;

  text-align: center;

  border-top: 1px solid #e6e6e6;
}

.nav__item--active {
  font-size: 20px;
  font-weight: 500;

  margin-left: -2px;
  padding-top: 21px;
  padding-bottom: 21px;

  text-align: center;
  text-transform: uppercase;

  color: #000;
}

@media (min-width: 768px) {

	.nav__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 0px;
	}
	
	.nav__item {
		border: none;
		padding: 0;
	
	}

	.nav__item:nth-child(3) {
		margin-right: 4px;
	}

		.nav__item:nth-child(2) {
		margin-right: 37px;
	}

		.nav__item:nth-child(1) {
		margin-right: 37px;
	}

	.nav__link {
		font-size: 18px;
		font-weight: 400;
	}

	.nav__item--active {
	font-size: 18px;
		font-weight: 400;
		padding: 0;
		// padding-top: 32px;
		padding-bottom: 7px;
		border-bottom: 2px solid #68b738;
	}
}
